.footer .footerbox {
  height: 100px;
  width: 1280px;
  background-color: #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer .footerbox .logo-below {
  width: 92px;
  height: 42px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid white;
  font-size: 20px;
}
.footer .footerbox .copyright {
  color: white;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer .footerbox .group-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer .footerbox .group-social-media .social-media-icons1 {
  color: white;
  padding: 12px;
}
.footer .footerbox .group-social-media .social-media-icons2 {
  color: white;
  padding: 12px;
}
.footer .footerbox .group-social-media .social-media-icons3 {
  color: white;
  padding: 12px;
}
@media screen and (max-width: 800px) {
  .footer .footerbox {
    max-width: 800px;
  }
}