.francegroup {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.francegroup .francephotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.francegroup .francephotos .firstfrancephoto {
  background-image: url(../images/firstisraelphoto.png);
  width: 298px;
  height: 347px;
}
.francegroup .francephotos2 .secondfrancephoto {
  background-image: url(../images/secondisraelphoto.png);
  width: 298px;
  height: 347px;
}
.francegroup .francephotos3 .thirdfrancephoto {
  background-image: url(../images/thirdisraelphoto.png);
  width: 298px;
  height: 347px;
}

@media only screen and (max-width: 800px) {
  .francegroup {
    width: 527px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .francegroup .firstfrancephoto {
    margin-bottom: 20px;
  }
  .francegroup .secondfrancephoto {
    margin-bottom: 20px;
  }
}