.japangroup {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.japangroup .japanphotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.japangroup .japanphotos .firstjapanphoto {
  background-image: url(../images/firstfrancephoto.png);
  width: 298px;
  height: 347px;
}
.japangroup .japanphotos2 .secondjapanphoto {
  background-image: url(../images/secondfrancephoto.png);
  width: 298px;
  height: 347px;
}
.japangroup .japanphotos3 .thirdjapanphoto {
  background-image: url(../images/thirdfrancephoto.png);
  width: 298px;
  height: 347px;
}

@media only screen and (max-width: 800px) {
  .japangroup {
    width: 527px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .japangroup .firstjapanphoto {
    margin-bottom: 20px;
  }
  .japangroup .secondjapanphoto {
    margin-bottom: 20px;
  }
}