.newzealandgroup {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.newzealandgroup .newzealandphotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.newzealandgroup .newzealandphotos .firstnewzealandphoto {
  background-image: url(../images/firstisraelphoto.png);
  width: 298px;
  height: 347px;
}
.newzealandgroup .newzealandphotos2 .secondnewzealandphoto {
  background-image: url(../images/secondisraelphoto.png);
  width: 298px;
  height: 347px;
}
.newzealandgroup .newzealandphotos3 .thirdnewzealandphoto {
  background-image: url(../images/thirdisraelphoto.png);
  width: 298px;
  height: 347px;
}

@media only screen and (max-width: 800px) {
  .newzealandgroup {
    width: 527px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newzealandgroup .firstnewzealandphoto {
    margin-bottom: 20px;
  }
  .newzealandgroup .secondnewzealandphoto {
    margin-bottom: 20px;
  }
}